:root {
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: var(--dark-grayish-blue);
  background-color: var(--off-white);
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.container {
  margin: 5% 12%;
}

.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 0.8fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 5rem;
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 5% 5% 12% 5%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-row-gap: 2.5rem;
  }

  .background-dark {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(240, 100%, 5%, 0.4);
  }
}
